body {
    padding: 0;
    margin: 0;
}
#canvas {
    background-color: rgb(235, 235, 235);
    border: 2px black solid;
    position: absolute;
    width: 600px;
    height: 600px;
    left: 50%;
    transform: translateX(-50%);
}