
body {
    padding: 0;
    margin: 0;
    touch-action: none;
    overflow: hidden;
}

#canvas-container {
    position: absolute;
    padding-top: 40px;
    padding-bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 5vh;
}
#canvas {
    background-color: rgb(235, 235, 235);
    border: 2px black solid;
    width: 600px;
    height: 600px;
}

.text {
    font-family:'Courier New', Courier, monospace;
    color: black;
    font-size: clamp(10px, 5vw, 30px);
}

#hud {
    position: absolute;
    width: 100%;
    bottom: 40px;
    transform: translateY(100%);
}

#hud #score {
    position: absolute;
    left: 0;
}

#hud #high-score {
    position: absolute;
    right: 0;
}

#game-over {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 30%;
    background-color: rgb(252, 252, 252);
    font-size: clamp(14px, 6vw, 40px);
    border: 2px solid black;
    display: none;

}

#game-over .message {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#game-over .score {
    position: absolute;
    width: 100%;
    text-align: center;
    transform: translateY(50%);
}

#toolbar {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 40px;
    transform: translateY(-100%);
}

.new-game-button {
    cursor: pointer;
}

#new-high-score-message {
    display: none;
}

#toolbar .new-game-button {
    position: absolute;
    right: 0;
    bottom: 2px;
    border: 2px solid black;
    background-color: rgb(230, 230, 230);
}

#game-over .new-game-button {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    bottom: 0;
    background-color: rgb(214, 214, 214);
    margin: 0px;
     box-sizing: border-box; 
    border: solid black 2px;
}

#swipe-area {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%); 
}

@media (max-width: 620px) {
    #canvas {
        width: 94vmin;
        height: 94vmin;
    }
}