body {
    padding: 0;
    margin: 0;
}

#canvas-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#canvas {
    background-color: rgb(235, 235, 235);
    border: 2px black solid;
    width: 600px;
    height: 600px;
}

#hud {
    position: absolute;
    width: 100%;
    color: black;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    bottom: 0;
    transform: translateY(100%);
}

#hud #score {
    position: absolute;
    left: 0;
}

#hud #high-score {
    position: absolute;
    right: 0;
}

#game-over {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 38%;
    height: 30%;
    background-color: rgb(252, 252, 252);
    color:rgb(0, 0, 0);
    font-size: 40px;
    border: 2px solid black;
    font-family:'Courier New', Courier, monospace;

    display: none;

}

#game-over .message {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#game-over .score {
    position: absolute;
    width: 100%;
    text-align: center;
    transform: translateY(50%);
}

#game-over .new-game-button {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    bottom: 0;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(214, 214, 214);
    transform: translateX(-2px);
    cursor: pointer;
}